{% extends "../base.html" %}

{% block menu %}
<li class="nav-item">
<a class="nav-link" href="/">Movies</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/actors">Actors <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}




<div class="row">
    {% for actor in actors %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3">
            <a href="/actor/{{ actor.id }}">
                <div class="card cardscale" >
                    <img style="position: absolute; filter: blur(1.8vw); -moz-filter: blur(2vw); -webkit-filter: blur(2vw); z-index:-1; width: 120%; margin: -10%;" src="{{ actor.img }}" class="card-img-top" alt="...">
                    <img src="{{ actor.img }}" class="card-img-top" alt="...">
                    {% if movie.rate > 0 %}
                    <div class="progress" style="height: 15px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ actor.rate }}%" aria-valuenow="{{ actor.rate }}" aria-valuemin="0" aria-valuemax="100">{{ actor.rate }}%</div>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ actor.first_name }} {{ actor.surname }}</h5>
                    </div>
                </div>
            </a>
        </div>    
    {% endfor %}
</div>

{% endblock %}