{% extends "../base.html" %}

{% block menu %}
<li class="nav-item active">
<a class="nav-link" href="/">Movies <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="/actors">Actors</a>
</li>
{% endblock %}
{% block content %}



<!-- Il y a encore l'attribut img et tu pourras mettre son id pour se deplacer sur sa page de detail -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
        <div class="card" >
            <img style="position: absolute; filter: blur(1.8vw); -moz-filter: blur(2vw); -webkit-filter: blur(2vw); z-index:-1; width: 120%; margin: -10%;" src="{{ movie.img }}" class="card-img-top" alt="...">
            <img src="{{ movie.img }}" class="card-img-top" alt="...">
            {% if movie.rate > 0 %}
            <div class="progress" style="height: 20px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ movie.rate }}%" aria-valuenow="{{ movie.rate }}" aria-valuemin="0" aria-valuemax="100">User Score: {{ movie.rate }}%</div>
            </div>
            {% endif %}
        </div>
    </div>  
    <div class="col-12 col-sm-6 col-md-8 col-lg-8 pb-3">
        <div class="card mb-3" >
            <div class="card-body">
                <h2 class="card-title">{{ movie.name }}</h2>
                <p class="card-text"><small class="text-muted">{{ movie.years }}</small></p>
                <p class="card-text" style="font-size: 0.9rem;">{{ movie.description }}</p>
            </div>
        </div>

        <div class="row">
            {% for actor in movie.get_actors %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="/actor/{{ actor.acteur.id }}">
                        <div class="card cardscale" >
                            <img style="position: absolute; filter: blur(1.8vw); -moz-filter: blur(2vw); -webkit-filter: blur(2vw); z-index:-1; width: 120%; margin: -10%;" src="{{ actor.acteur.img }}" class="card-img-top" alt="...">
                            <img src="{{ actor.acteur.img }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ actor.acteur.first_name }}</h5>
                                <h5 class="card-info"><small class="text-muted">{{ actor.acteur.surname }}</small></h5>
                            </div>
                        </div>
                    </a>
                </div>    
            {% endfor %}
        </div>
    </div>  
</div>

<h2>Comments {% if movie.get_nbCommentaires > 0 %}({{ movie.get_nbCommentaires }}){% endif %}</h2>

{% for comment in movie.get_commentaires %}
    <div class="card mb-3" >
        <div class="card-body">
                <form action="/rm-commentaire/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <input type="hidden" name="id" value="{{ comment.id }}">
                    <button class="close" type="submit" style="text-shadow: 0 1px 0 #606060 !important;"><span style="color: red;" aria-hidden="true">×</span></button>
                </form> 
            <h2 class="card-title">{{ comment.username }}</h2>
            <p class="card-text">{{ comment.commentaire }}</p>
            
        </div>
    </div>
{% endfor %}


<div class="card" >
    <div class="card-body">
        <form action="/add-commentaire/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <input type="hidden" name="movie_id" value="{{ movie.id }}">
            <div class="form-group">
                <label for="message">Your message</label>
                <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
        
            <button type="submit" class="btn btn-outline-danger btn-block mb-2">Send</button>
        </form>
    </div>
</div>




{% endblock %}