<!doctype html>
<html class="no-js" lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <script type="text/javascript" src="{% static "main.bundle.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery.slim.min.js" %}"></script>
  <script type="text/javascript" src="{% static "util.js" %}"></script>
  <script type="text/javascript" src="{% static "alert.js" %}"></script>
</head>



<body class="d-flex flex-column h-100">
    <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand pr-3" href="/"><span style="text-shadow: 0 0 1em red; background-image: linear-gradient(to left, #D38312, #A83279); background-clip: text; font-weight: bold; color: transparent;">Scrap</span> <span style="font-weight: bold; ">Film</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% block menu %}{% endblock %}
      </ul>
      <form action="/search/" method="POST" class="form-inline mt-2 mt-md-0">
        {% csrf_token %}
        <input name="search" id="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<!-- CECI EST A REMETTRE EN PAGE -->

<!-- JESSY C'EST POUR TOI -->
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{%if "error" in message.tags %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"{% endif %} role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
      {% block content %}{% endblock %}
    
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Developped by Jessy BREYNE and Axel SERRIE</span>
  </div>
</footer>
</body>
    
</html>
